<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>

    <form #patientForm="ngForm" (ngSubmit)="onSave(patientForm.value)">
        <div class="main">
            <br/>
            <div class="input-fields">
                <label for="lastName">First Name: </label>
                 <input name="firstName" ngModel  placeholder="First Name" id="firstName" type="text" class="input-field" />
            </div>
            <br/>
            <div class="input-fields">
                <label for="lastName">Last Name: </label>
                <input name="lastName" ngModel  placeholder="Last Name" id="lastName" type="text" class="input-field" />
            </div>
            <br/>
            <div class="input-fields">
                <label for="lastName">Date of Birth: </label>
                <input name="dob" ngModel  placeholder="Date of Birth" id="dob" type="date" class="input-field" />
            </div>
            <br/>
            <div class="col-12">
                <button type="submit"
                        class="btn btn-outline-secondary"
                       >Save Patient</button>
              </div>
        </div>
    </form>

    <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>