<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
      <div *ngIf='patients.length'>
        <ul class="list-inline" *ngFor='let item of patients'>
          <li class="wrap-left-justified-bold">Patient ID</li><p class="wrap-left-justified">{{item.Id}}</p>
          <li class="wrap-left-justified-bold">First Name</li><p class="wrap-left-justified">{{ item.General.Name.FirstName}}</p>
          <li class="wrap-left-justified-bold">Last Name</li><p class="wrap-left-justified">{{  item.General.Name.LastName}}</p>
          <hr class="mt-2 mb-3"/>
        </ul>
      </div>
    </div>
 <div *ngIf='errorMessage'
       class='alert alert-danger'>
    Error: {{ errorMessage }}
</div>